.form-container{
    display: flex;
    justify-content: center;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 280px;
}

.form label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.form input[type="number"] {
    width: 92%;
    padding: 6px 8px;
    font-size: 14px;
    margin-top: 5px;
}

fieldset {
    margin-bottom: 15px;
    padding: 8px;
}

button[type="submit"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color: #6f4caf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}