
#datetime-picker {
    margin-top: 48px;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #6e8cb1;
}

button {
    margin-top: 16px;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    background-color: #854cc6;
    color: rgb(215, 210, 210);
    cursor: pointer;
    transition: background-color 0.2s;
}

.timer {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    justify-content: center; 
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 40px;
    font-weight: 500;
    
}

.label {
    font-size: 18px;
    text-transform: uppercase;
}